---
import { unescape } from 'lodash-es';
import data from '../../globals/settings.json'; 
const [content] = await Astro.glob('../../globals/footer.md');
---

 <section class="text-gray-700 bg-white body-font">
  <div class="container flex flex-col px-8 py-8 mx-auto max-w-7xl sm:flex-row">
    <a href="/" class="text-xl font-black leading-none text-gray-900 select-none logo">{data.company_name}<span class="text-green-500">.</span></a>
    <p class="mt-4 text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l sm:border-gray-200 sm:mt-0">{unescape(content.frontmatter.copyright_text)}</p>
  </div>
</section>