---
import { navigationLinks } from '../utils/navigation-links.js'
import data from '../globals/settings.json';


const path = Astro.request.url.pathname;
const [content] = Astro.fetchContent('../globals/navigation.md');

// Second param must match what is set it the admin.
const headerNavigation = navigationLinks(content, 'Header Navigation');

---

<section class="relative py-2">
    <div class="flex items-center justify-between h-20 px-8 mx-auto max-w-7xl">

        <a href="/" class="relative z-10 flex items-center w-auto text-2xl font-extrabold leading-none text-gray-900 select-none">
            {data.company_name}<span class="text-green-500">.</span>
        </a>

        <nav class="items-center justify-center hidden space-x-8 text-gray-900 md:flex">
            {headerNavigation[0].map((item) => {
              const link = item.link.replace("src/content/pages", "");
              const newLink = link.replace("src/pages", "");
              const newnewLink = newLink.replace("index.md", "");
              const finalLink = newnewLink.replace(".md", "");
              return (
                <a href={finalLink} class="relative inline-block text-base font-bold text-gray-700 transition duration-150 ease">
                <span class="block">{item.link_name}</span>
               
            </a>
              );
            })}
        </nav>

        <button class="flex items-center justify-center h-full text-gray-900 md:hidden js-mobile-menu-button">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16"></path>
            </svg>
        </button>
        <div class="hidden p-5 bg-gray-300 js-mobile-menu">This is the menu</div>

    </div>
</section>

<script>
    const btn = document.querySelector(".js-mobile-menu-button");
    const menu = document.querySelector(".js-mobile-menu");

    btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");
    });
</script>

