---
export interface Props {
  title: string;
}
const { title, uri } = Astro.props;
const path = Astro.site.pathname;
---

<nav class="bg-red-400">
  <h1 class="title">Make Agency {path}</h1>
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
