---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import HeaderBlock from '../components/header-block.astro';
import ContentMediaBlock from '../components/content-media-block';
import '../styles/global.css';

const { content } = Astro.props;
---

<html>
  <head>
    <title>{content.title}</title>
  </head>

  <body>
    <Nav uri={content.uri} />

    <article class="article">
    {content.blocks.map((item) => {
      switch(item.template) {
        case 'header-block':
          return <HeaderBlock content={item} />
          break;
        case 'content-media-block':
          return <ContentMediaBlock content={item} />
          break;
        case 'footer':
          return <Footer />
          break;
        default:
          return <p>Default</p>
      }
    })}
    </article>

    <Footer />

  </body>
</html>
