---
import Nav from '../components/Nav.astro';
import FooterSection from '../components/footer-section.astro';
import HeaderBlock from '../components/header-block.astro';
import ContentMediaBlock from '../components/content-media-block';
import '../styles/global.css';

const { content } = Astro.props;
---

<html>
  <head>
    <title>{content.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <Nav uri={content.uri} />

    <article class="article">
    {content.blocks.map((item) => {
      switch(item.template) {
        case 'header-block':
          return <HeaderBlock content={item} />
          break;
        case 'content-media-block':
          return <ContentMediaBlock content={item} />
          break;
        default:
          return <p>Default</p>
      }
    })}
    </article>

    <FooterSection />

  </body>
</html>
